@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
•⁠  ⁠{
  font-family: 'Outfit', sans-serif;
  @apply text-gray-900 dark:text-gray-100 transition-all duration-300;
}
@theme {
  --color-primary: #5f6fff;
  --color-primary-light: #8690ff;
  --color-primary-dark: #3e4dff;
}
@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
  }
}
.active {
  @apply text-primary-dark font-semibold transition-all duration-300;
}

.active hr {
  @apply block border-primary w-10 mx-auto mt-1;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-light rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-dark;
}
@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary px-4 py-1 rounded-lg shadow-lg;
  }
}